<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mydomain.myproject.dao.UserMapper">

    <select id="getUser" resultType="User" parameterType="int">
        select * from users WHERE id=#{id}
    </select>

    <select id="query" resultType="User">
        select * from users
    </select>
</mapper>